<div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="form-user style-1 rounded has-shadow-1">
                    <!-- <div class="form-header text-center"> -->
                        <!-- <h2 class="form-header-title">ユーザー登録</h2> -->
                    <!-- </div> -->
                    <div class="form-body" style="padding-top: 50px;">
                      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                        <!--エラーメッセージ-->
                        <%= render "devise/shared/error_messages", resource: resource %>
                        <!--ここまで-->
                          <div class="form-group has-icon">
                            <label class="control-label sr-only" for="inputName">Name</label>
                            <span class="fa fa-user form-control-icon" aria-hidden="true"></span>
                            <%= f.text_field :nickname, autofocus: true, class:"form-control", id:"inputName", placeholder:"ニックネーム(15文字以内)" %>
                          </div>

                          <div class="form-group has-icon">
                            <label class="control-label sr-only" for="inputEmail">Email</label>
                            <span class="fa fa-envelope form-control-icon" aria-hidden="true"></span>
                            <%= f.email_field :email, class:"form-control", id:"inputEmail", placeholder:"メールアドレス" %>
                          </div>

                          <div class="form-group has-icon">
                            <label class="control-label sr-only" for="inputPassword">Password</label>
                            <span class="fa fa-lock form-control-icon" aria-hidden="true"></span>
                            <%= f.password_field :password, class:"form-control", id:"inputPassword", size: "200x200", placeholder:"パスワード(8文字以上）" %>
                          </div>

                          <div class="form-group has-icon">
                            <label class="control-label sr-only" for="inputConfirmPassword">Password</label>
                            <i class="fa fa-check-circle form-control-icon" aria-hidden="true"></i>
                            <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", id:"inputConfirmPassword", placeholder:"パスワード確認" %>
                          </div>

                          <%= f.submit "新規登録", class: "Signup-button" %>
                      <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
