<% visiter = notification.visiter %>
<% visited = notification.visited %>

<div class="">
	<%= link_to user_path(visiter) do %>
		<strong><%= visiter.nickname %><strong>
	<% end %>
	<%= 'さんが' %>
	<% case notification.action %>
    	<% when 'follow' then %>
			<%= 'あなたをフォローしました' %>
		<% when 'like' then %>
			<%= link_to 'あなたの投稿', notification.post %>
			<%= 'にいいねしました' %>
		<% when 'comment' then %>
			<% if notification.post.user_id == visited.id %>
				<%= link_to 'あなたの投稿', notification.post %>
			<% else %>
				<%= link_to post_path(notification.post) do %>
					<strong><%= notification.post.user.nickname + 'さんの投稿' %></strong>
                <% end %>
            <% end %>
			<%= 'にコメントしました' %>
			<%= Comment.find_by(id: notification.comment_id)&.content %>
			<%= date_format(notification.created_at).upcase %>
      <% end %>
</div>