<div class="container">
	<div class="row">
		<div class="">
			<%= form_with(model: @user, local: true) do |f| %>
				<h4>登録情報編集画面</h4>

					<div class="field">
						<%= f.label :'ユーザー名' %>
						<%= f.text_field :nickname, autofocus: true, autocomplete: 'nickname' %>
					</div>

                    <div class="field">
						<%= f.label :'プロフィール画像' %>
						<%= f.attachment_field :profile_image %>
					</div>

					<div class="field">
						<%= f.label :'メールアドレス' %>
						<%= f.email_field :email, autofocus: true, autocomplete: 'email' %>
					</div>

					<div class="action">
						<%= f.submit '更新', class: 'btn btn-success btn-lg' %>
						<%= link_to '戻る', top_path, class: 'btn btn-primary' %>
					</div>
			<% end %>
		</div>
	</div>
</div>