<div class="container">
	<div class="row">
		<h4>登録情報</h4>
		<table class="table">
			<thead>
				<tr>
					<th>ユーザー名</th>
					<th><%= @user.nickname %></th>
				</tr>
				<tr>
					<th>メールアドレス</th>
		            <th><%= @user.email %></th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<% if current_user.id != @user.id %>
			        	<% if @isRoom == true %>
			        	　　	<!--すでにメッセージルームがある場合-->
			        		<%= link_to 'メッセージルームへ', room_path(@roomId), class: 'btn btn-primary' %>
			        	<% else %>
			        		<!--Room・Entryの2つにデータを送る-->
			        	　　	<!--新規作成の場合-->
			        		<%= form_with(model: @room, url: 'users/:user_id/rooms', local: true) do |f| %>
			        			<%= fields_for @entry do |e| %>
			        				<!--Entryにuser_idを送るため、valueオプションで指定-->
			        				<%= e.hidden_field :user_id, value: @user.id %>
			        			<% end %>
			        			<%= f.submit 'メッセージを始める', class: 'btn btn-primary' %>
			        		<% end %>
			        	<% end %>
			        <% else %>
						<%= link_to '登録情報を変更する', edit_user_path, class: 'btn btn-primary' %>
						<%= link_to 'パスワードを変更する', edit_user_password_path, class: 'btn btn-primary' %>
						<%= link_to '戻る', top_path, class: 'btn btn-primary' %>
			        	<%= link_to '新規投稿', new_post_path, class: 'btn btn-success btn-lg' %>
			        <% end %>
				</tr>
			</tbody>
		</table>

    	<%= link_to post_path(@post.id) do %>
    		<%= attachment_image_tag @post, :image, size: '300x200' %>
    	<% end %>
        <p><%= @post.tag_content %></p>
        <label>コメント数</label><%= @post.comments.count %>
        <label>いいね数</label><%= @post.likes.count%>
        <!--時間表示-->
        <%= date_format(@post.created_at) %>

		<p><label>コメントした投稿</label></p>

		<p><label>いいねした投稿</label></p>

	</div>
</div>