<!--メッセージ-->
<% if flash[:notice] %>
  <div class="flash">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="flash">
    <%= flash[:alert] %>
  </div>
<% end %>
<!---->
<div class="container">
  <div class="row">
      <%#h4>投稿者ランキング</h4>
      <%#= @all_ranks.each do |user| %>
        <%#= link_to user_path(user.id) do %>
          <%#= attachment_image_tag user, :profile_image, size: '300x200' %>
        <%# end %>
        <%#= link_to post.user.nickname, user_path(post.user) %>
      <%# end %>
      <div class="col-md-6">
        <div class="impression-rank">
          <h4 class="rank-title">PV数ランキング</h4>
          <% @all_ranks.each do |post| %>
            <%= link_to post_path(post.id) do %>
              <%= attachment_image_tag post, :image, size: '300x200' %>
            <% end %>

            <%= link_to user_path(post.user) do %>
              <i class="fas fa-user-alt" aria-hidden="true"></i><p><%= post.user.nickname %></p>
            <% end %>
            <i class="far fa-eye" aria-hidden="true"></i><%= post.impressionist_count%>
          <% end %>
        </div>

        <div class="like-rank">
          <h4 class="rank-title">いいねランキング</h4>
          <% @all_ranks.each do |post| %>
            <%= link_to post_path(post.id) do %>
              <%= attachment_image_tag post, :image, size: '300x200' %>
            <% end %>

            <%= link_to user_path(post.user) do %>
              <i class="fas fa-user-alt" aria-hidden="true"></i><%= post.user.nickname %>
            <% end %>
            <i class="fas fa-heart" aria-hidden="true"></i><%= post.likes.count %>
          <% end %>
        </div>

        <div class="action">
          <%= link_to new_post_path do %>
            <i class="fas fa-pen-square" aria-hidden="true"></i> 新規投稿
          <% end %><br>
        </div>
      </div>
  </div>
</div>