<!--メッセージ-->
<% if flash[:notice] %>
  <div class="flash">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="flash">
    <%= flash[:alert] %>
  </div>
<% end %>
<!---->
<div class="container">
  <div class="row">
  	<div class="">
<h2>タグ検索一覧</h2>
  <% @posts.each do |post| %>
    <% post.tag_content.split(' ').each do |tag| %>
      <%= link_to tag, "/search?tag_name=#{tag.gsub('#', '')}" %>
    <% end %>
    <%#= link_to post.tag_content, posts_path %>
  <% end %>

  <div class="col-xs-10">
      <%= link_to '投稿一覧', posts_path %>

      <h4>投稿者ランキング</h4>
      <%#= @all_ranks.each do |user| %>
        <%#= link_to user_path(user.id) do %>
          <%#= attachment_image_tag user, :profile_image, size: '300x200' %>
        <%# end %>
        <p><%#= link_to post.user.nickname, user_path(post.user) %></p>
      <%# end %>

      <h4>PV数ランキング</h4>
      <%= @all_ranks.each do |post| %>
        <%= link_to post_path(post.id) do %>
          <%= attachment_image_tag post, :image, size: '300x200' %>
        <% end %>
        <p><%= link_to post.user.nickname, user_path(post.user) %></p>
        <p><label>PV数</label><%= post.impressionist_count%></p>
      <% end %>

      <h4>いいねランキング</h4>
      <%= @all_ranks.each do |post| %>
        <%= link_to post_path(post.id) do %>
          <%= attachment_image_tag post, :image, size: '300x200' %>
        <% end %>
            <p><%= link_to post.user.nickname, user_path(post.user) %></p>
            <p><label>いいね数</label><%= post.likes.count%></p>
      <% end %>
    </div>
  </div>

  <div class="row">
    <%= link_to '新規投稿', new_post_path, class: 'btn btn-success btn-lg' %>
  </div>
</div>