<div class="comment-list">
	<h4>コメント一覧</h4>
	<% comments.each do |comment| %>
	  <%= link_to user_path(@post.user) do %>
	    <i class="fas fa-user-alt" aria-hidden="true"></i> <%= comment.user.nickname %>
	  <% end %>
	  <i class="fas fa-comment" aria-hidden="true"></i> <%= comment.content %>
	  <!--時刻表示-->
	  <i class="fas fa-history" aria-hidden="true"></i> <%= date_format(comment.created_at) %>
	  <!--ログイン（投稿）ユーザーのみ-->
	  <% if comment.user == current_user %>
		<%= link_to post_comment_path(@post, comment), method: :delete, data: {confirm: 'コメントを削除します。よろしいですか？'} do %>
		  <i class="fas fa-trash" aria-hidden="true"></i>
		<% end %>
	  <% end %>
	<% end %>
</div>