<!--メッセージ-->
<% if flash[:notice] %>
	<div class="flash">
		<%= flash[:notice] %>
	</div>
<% end %>
<!---->
<div class="container">
	<div class="row">
    	<h4>投稿一覧</h4>
    	<% @posts.each do |post| %>
    		<%= link_to post_path(post.id) do %>
    			<%= attachment_image_tag post, :image, size: '300x200' %>
    		<% end %>
            <p><%= post.user.nickname %></p>
            <p><%= post.tag_content %></p>
            <label>コメント数</label><%= post.comments.count %>
            <label>いいね数</label><%= post.likes.count%>
            <label>PV数</label><%= post.impressionist_count %>
            <!--時間表示-->
            <p><%= date_format(post.created_at) %></p>
    	<% end %>

    	<div class="action">
			<%= link_to '新規登録', new_post_path, class: 'btn btn-success btn-lg' %>
		</div>
	</div>
</div>