<!--メッセージ-->
<% if flash[:alert] %>
	<div class="flash">
		<%= flash[:alert] %>
	</div>
<% end %>
<!---->
<div class="container">
	<div class="row">
		<div class="post-form">
			<%= form_with(model: @post, local: true) do |f| %>
				<!--エラーメッセージ-->
				<% if @post.errors.any? %>
					<div id="error-explanation">
						<h4><%= @post.errors.count %>件のエラーが発生しました。</h4>
						<ul>
							<% @post.errors.full_messages.each do |message| %>
								<li><%= message %></li>
							<% end %>
						</ul>
					</div>
				<% end %>

				<div class="field">
					<%= f.attachment_field :image %>
				</div>

				<div class="field">
					<%= f.text_area :content, size: '90x5', placeholder: '投稿内容' %>
				</div>

				<div class="field">
					<%= f.text_area :tag_content, size: '90x5', placeholder: '投稿タグ 例)#美味しい #美しい' %>
				</div>

				<div class="new-action">
					<%= f.submit '新規投稿', class: 'btn btn-success btn-lg' %>
				</div>
			<% end %>
		</div>
	</div>
</div>