<header>
  <div class="container clearfix">
    <span>TabeyoMatcha</span>

    <nav>
      <ul class="nav">
        <!--ログインしている場合-->
        <% if user_signed_in? %>
          <li class="nav-list">
            <%= link_to 'Top', top_path, class: '' %>
          </li>
          <li class="nav-list">
            <%= link_to 'My profile', user_path(current_user.id), class: '' %>
          </li>
          <li class="nav-list">
            <%= link_to 'お問い合わせ', new_inquiry_path, class: '' %>
          </li>
          <li class="nav-list">
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: '', data: {confirm: 'ログアウトします。よろしいですか？'} %>
          </li>
        <!--ログインしていない場合-->
        <% else %>
          <li class="nav-list">
            <%= link_to 'Top', top_path, class: '' %>
          </li>
          <li class="nav-list">
            <%= link_to 'About', about_path, class: '' %>
          </li>
          <li class="nav-list">
            <%= link_to '新規登録', new_user_registration_path, class: '' %>
          </li>
          <li class="nav-list">
            <%= link_to 'ログイン', new_user_session_path, class: '' %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>